<div class="banner">
   <h1><%= @list.name %></h2>
</div>

<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to "create bookmark",  new_list_bookmark_path(@list), class: "btn btn-flat"%>
  </div>
<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <%= image_tag(bookmark.movie.poster_url) %>
  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete}%>
  <%= link_to "Delete list", list_delete_path(@list), data: {turbo_method: :delete}%>
<% end %>
